
// Body
$body-bg: #f5f8fa;

// Typography
// $font-family-sans-serif: "Raleway", sans-serif;
$font-family-sans-serif: "Fira Code Retina", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
